VSVersionInfo(
  ffi=FixedFileInfo(
    filevers=(1, 0, 0, 0),
    prodvers=(1, 0, 0, 0),
    mask=0x3f,
    flags=0x0,
    OS=0x4,
    fileType=0x1,
    subtype=0x0,
    date=(0, 0)
  ),
  kids=[
    StringFileInfo(
      [
        StringTable(
          '040904E4',
          [
            StringStruct('CompanyName', 'Rebels of Gaming'),
            StringStruct('FileDescription', 'Image Converter - TGA to JPG'),
            StringStruct('FileVersion', '1.0.0.0'),
            StringStruct('InternalName', 'image_converter'),
            StringStruct('LegalCopyright', '© 2021 – 2024 Rebels of Gaming'),
            StringStruct('OriginalFilename', 'image_converter.exe'),
            StringStruct('ProductName', 'Image Converter'),
            StringStruct('ProductVersion', '1.0.0.0')
          ]
        )
      ]
    ),
    VarFileInfo([VarStruct('Translation', [0x0409, 0x04E4])])
  ]
)
